
/* form common */

form .col{
    margin-top: 20px;
    position: relative;
}
form .spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
form input[type="text"],
form input[type="password"]{
    width: 400px;
    height: 60px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 15px;
    color: #000;
    outline: none;
    transition: 0.3s ease;
    border-radius: 10px;
}
form input::placeholder{
    color: #999;
}
form input[type="text"]:focus,
form input[type="password"]:focus{
    border: 1px solid #0B1F7D !important;
}
form input.fail{
    border: 1px solid #FF5647;
}
.fail-text{
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #FF5647;
    transition: 0.3s ease;
}
form input + .pw-view-btn + .fail-text{
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #FF5647;
    transition: 0.3s ease;
}
form input.fail + .pw-view-btn{
    top: calc(50% - 10px);
}
form input.fail + .pw-view-btn + .fail-text{
    margin-top: 6px;
    opacity: 1;
    visibility: visible;
    height: 13px;
}
form button.pw-view-btn{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 26px;
    height: 26px;
    transition: 0.3s ease;
}
form button.pw-view-btn i{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/icons/ico-pwViewOpen.svg") no-repeat center / cover;
    transition: 0.3s ease;
}
form button.pw-view-btn.active i{
    background: url("../images/icons/ico-pwViewClose.svg") no-repeat center / cover;
}

form input[type="checkbox"]{
    display: none;
}
form input[type="checkbox"] + label{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
form input[type="checkbox"] + label i{
    width: 20px;
    height: 20px;
    background: url("../images/icons/ico-checkbox.svg") no-repeat center / cover;
    transition: 0.2s ease;
}
form input[type="checkbox"]:checked + label i{
    background: url("../images/icons/ico-checkboxActive.svg") no-repeat center / cover;
}

form a{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease;
}
form a:hover{
    opacity: 0.6;
}

form button.form-submit-btn{
    width: 400px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1F7D;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 48px;
    transition: 0.3s ease;
    border-radius: 10px;
}
form button.form-submit-btn:hover{
    opacity: 0.8;
}

/* form common */




/* header */

body.scroll header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10000000;
    height: 100px;
    background-color: #fff;
    transition: 0.35s ease;
}
header .inner{
    width: calc(100% - 144px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-select{
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
}
header .logo-select-btn{
    width: 32px;
    height: 32px;
}
header .logo-select-btn i{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/icons/ico-logoSelectArrow.svg") no-repeat center / cover;
}
header .logo-list{
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
header .logo-list.show{
    opacity: 1;
    visibility: visible;
}
header .logo-list li:first-child{
    border-top: none;
}
header .logo-list li{
    padding: 5px 0;
    border-top: 1px solid #f0f0f0;
}
header .logo-list li button{
    opacity: 0.6;
    transition: 0.3s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    transition: 0.3s ease;
}
header .logo-list li img{
    width: 70%;
}
header .logo-list li button:hover{
    opacity: 1;
}

header .gnb{
    margin-right: auto;
    margin-left: 130px;
}
header .gnb ul{
    display: flex;
    align-items: center;
    gap: 75px;
}
header .gnb ul li{
    font-size: 15px;
    font-weight: 600;
    transition: 0.35s ease;
    position: relative;
}
header .gnb ul li:hover{
    opacity: 0.6;
}
header .gnb ul li.active{
    color: #0EBCF6;
}
header .gnb ul li.active::before{
    content: "";
    position: absolute;
    top: -6px;
    right: -8px;
    width: 5px;
    height: 5px;
    background-color: #0EBCF6;
}
header .sub-menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
header .sub-menu a.profile{
    display: flex;
    gap: 7px;
    align-items: center;
    width: 196px;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    border: 1px solid #0B1F7D;
    transition: 0.35s ease;
    gap: 0;
    overflow:hidden;
    padding-left: 10.45px;
}
header .sub-menu a.profile:hover{
    width: 196px;
    gap: 7px;
    padding: 0 26px;
}
header .sub-menu a.profile.main{
    width: 196px;
    gap: 7px;
    padding: 0 26px;
}
header .sub-menu a.profile.main span{
    opacity: 1;
}

header .sub-menu span{
    font-size: 16px;
    font-weight: 600;
    color: #0B1F7D;
    position: relative;
    transition: 0.35s ease;
    opacity: 0;
    width: 0;
    white-space: nowrap;
    width: 110px;
}
header .sub-menu a.profile:hover span{
    opacity: 1;
}
header .sub-menu span::after{
    content: "";
    width: 4px;
    height: 4px;
    background-color: #0B1F7D;
    position: absolute;
    right: -5px;
    top: -5px;
    transition: 0.35s ease;
}
header .search-btn{
    display: flex;
    align-items: center;
}
header .menu-open-btn{
    display: flex;
    align-items: center;
}
header .join-state-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ddd;
}
header .join-state-bar span{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0B1F7D;
    height: 3px;
}

.myPage-header{
    background-color: #0B1F7D;
}

/* header */



/* footer */

footer{
    border-top: 1px solid #ddd;
    padding: 140px 0;
    background: url("../images/visual/footer-bg.svg") no-repeat right bottom / 695px;
}
footer .inner{
    width: calc(100% - 40px);
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
footer .footer-top{
    display: flex;
}
footer .fnb{
    margin-bottom: 145px;
}
footer .fnb a{
    font-size: 35px;
    font-weight: 600;
    color: #0EBCF6;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 7px;
}
footer .fnb li:last-child a{
    margin-bottom: 0;
}
footer .fnb a img{
    transition: 0.3s ease;
    opacity: 0;
    margin-top: 6px;
}
footer .fnb a:hover img{
    opacity: 1;
}
footer .footer-content{
    padding-left: 350px;
}
footer .footer-content h2{
    font-size: 35px;
    color: #0EBCF6;
    margin-bottom: 32px;
    font-family: "Montserrat";
    font-weight: 800;
}
footer .footer-content ul{
    display: flex;
    gap: 78px;
}
footer .footer-content span{
    font-size: 20px;
    font-weight: 500;
    color: #0EBCF6;
    display: block;
    margin-bottom: 16px;
}
footer .footer-content span::before{
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #0EBCF6;
    margin-bottom: 16px;
}
footer .footer-content a{
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 300;
    color: #0EBCF6;
    margin-bottom: 20px;
    display: block;
}
footer .footer-content p{
    font-size: 14px;
    font-weight: 500;
    color: #0EBCF6;
}
footer .footer-bottom{
    
}
footer .footer-bottom .footer-select-btn{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    font-weight: 600;
    color: #0EBCF6;
}
footer .copyright{
    font-size: 12px;
    font-weight: 400;
    color: #0EBCF6;
    margin-top: 12px;
}
.footer-select-content{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: #0EBCF6;
    font-weight: 400;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
    transition: 0.3s ease;
}
.footer-select-btn.active + .footer-select-content{
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
}
.footer-select-btn img{
    transition: 0.3s ease;
}
.footer-select-btn.active img{
    transform: rotate(180deg);
}

/* footer */



/* page path */

.page-path{
    
}
.programList .page-path .inner{
    padding-top: 260px;
}
.page-path .inner{
    width: calc(100% - 40px);
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 160px;
    display: flex;
    align-items: center;
}
.page-path li{
    font-size: 14px;
    font-weight: 400;
    color: #a0a0a0;
    display: flex;
    align-items: center;
}
.page-path li:before{
    content: "";
    display: flex;
    align-items: center;
    width: 30px;
    height: 1px;
    background-color: #ABABAB;
    margin: 2.5px 18px 0;
}
.page-path li:first-child::before{
    display: none;
}
.page-path li:last-child::before{
    display: none;
}
.page-path li:last-child{
    color: #0EBCF6;
    font-weight: 600;
}
.page-path-btn{
    width: 28px;
    height: 28px;
    border: 1px solid #E9E9E9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
}

/* page path */




/* style */

section .inner{
    width: calc(100% - 40px);
    max-width: 1180px;
    margin: 0 auto;
}

.dim{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.dim.show{
    opacity: 1;
    visibility: visible;
}

/* style */



/* search-box */

.search-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100000000;
    background-color: #fff;
    transition: 0.5s ease;
    padding-bottom: 144px;
    top: -100%;
}
.search-box.show{
    top: 0;
}
.search-box .close-btn{
    position: absolute;
    top: 52px;
    right: 68px;
}
.search-box form{
    display: flex;
    justify-content: center;
    padding-top: 172px;
}
.search-box .col{
    width: calc(100% - 40px);
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.search-box input.search-input[type="text"]{
    border: none !important;
    font-size: 22px !important;
    width: 100% !important;
    height: 86px !important;
    padding-left: 0 !important;
    border-bottom: 1px solid #d2d2d2 !important;    
}
.search-box input.search-input[type="text"]:focus{
    border: none !important;
    border-bottom: 1px solid #0EBCF6 !important;
}
.search-box input::placeholder{
    font-size: 22px;
    color: #999;
}
.search-box .search-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
}
.search-box .keyword-inner{
    width: calc(100% - 40px);
    max-width: 1024px;
    margin: 36px auto 0;
}
.search-box .keyword-inner p{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 24px;
}
.search-box .keyword{
    display: flex;
    gap: 10px;
}
.search-box .keyword li a{
    padding: 10px 16px;
    font-size: 14px;
    color: #101010;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    background-color: #f6f6f6;
    transition: 0.3s ease;
}
.search-box .keyword li a:hover{
    background-color: #0EBCF6;
    color: #fff;
}

/* search-box */



/* select */

.select{
    position: relative;
    width: 156px;
}
.select.readonly .select-current{
    background-color: #f6f6f6;
    color: #aaa;
}
.select.readonly .select-current img{
    display: none;
}

.select-current{
    width: 100%;
    height: 52px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    font-weight: 500;
    position: relative;
    z-index: 10000;
    background-color: #fff;
    cursor: pointer;
}
.select.show .select-list{
    opacity: 1;
    visibility: visible;
}
.select-list{
    position: absolute;
    z-index: 1000;
    top: calc(100% - 20px);
    width: 100%;
    padding: 26px 0 6px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.select-list button{
    font-size: 14px;
    color: #666;
    opacity: 0.6;
    transition: 0.35s ease;
    width: calc(100% - 20px);
    margin: 0 auto;
    display: block;
    padding: 8px 0;
    border-top: 1px solid #e9e9e9;
}
.select-list li:first-child button{
    border-top: none;
}
.select-list button:hover{
    opacity: 1;
}

/* select */


/* card */

.swiper-slide.card{
    width: 330px !important;
    height: 328px !important;
}
.grid.card{
    width: 100%;
    height: 360px;
}
.card{
    border-radius: 20px;
    position: relative;
    padding: 40px 28px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    display: block;
}
.card .kind{
    font-size: 16px;
    font-weight: 600;
    color: #0EBCF6;
    margin-bottom: 16px;
    display: block;
    transition: 0.3s ease;
}
.card .title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -1px;
    word-break: keep-all;
    margin-bottom: 20px;
    transition: 0.3s ease;
}
.card .date-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 62px;
}
.card .dDay{
    padding: 9px 17px;
    border-radius: 8px;
    background-color: #0EBCF6;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.card .date{
    font-size: 15px;
    color: #0EBCF6;
    font-weight: 400;
    margin-bottom: 2px;
    transition: 0.3s ease;
}
.card i{
    width: 36px;
    height: 36px;
    background: url("../images/visual/card-plus.svg") no-repeat center / cover;
    transition: 0.3s ease;
    position: absolute;
    bottom: 14px;
    left: 0;
    display: block;
}
.card:hover i{
    background: url("../images/visual/card-plus2.svg") no-repeat center / cover;
}

.card .card-state{
    margin-left: auto;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #F8F8F8;
    overflow: hidden;
}
.card .state-number{
    position: absolute;
    z-index: 10;
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.card .state-number .current{
    font-weight: 600;
}
.card .wave{
    position: absolute;
    /* 0 ~ 5 */
    bottom: -265px;
    bottom: -250px;
    left: 50%;
    background: #0EBCF6;
    width: 265px;
    height: 265px;
    transform: translateX(-50%);
    transform-origin: 50% 50%;
    border-radius: 43%;
    animation: wave 8000ms infinite linear;
    z-index: 0;
}
.card .state-number.clear-state + .wave{
    bottom: -200px;
}
.card .state-number.clear-state1 + .wave{
    bottom: -220px;
}
.card .state-number.clear-state2 + .wave{
    bottom: -250px;
}
.card .state-number.clear-state3 + .wave{
    bottom: -260px;
}
.card .state-number.clear-state2 ,
.card .state-number.clear-state3 {
    color: #333;
}
.card .state-number.clear-state2 .current,
.card .state-number.clear-state3 .current{
    color: #0EBCF6;
}
.card .card-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease;
}
.card .card-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.card .card-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover .card-bg{
    opacity: 1;
}
.card .card-content{
    position: relative;
    height: 100%;
    z-index: 10;
}
.card:hover .kind{
    color: #fff;
}
.card:hover .title{
    color: #fff;
}
.card:hover .date{
    color: #fff;
}

@keyframes wave {
    from { transform: translateX(-50%) rotate(0deg); }
    from { transform: translateX(-50%) rotate(360deg); }
}

.community-card {
    padding: 32px 35px 40px;
}
.swiper-slide.community-card{
    width: 330px !important;
    height: 312px !important;
    transition: 0.3s ease;
}
.community-card .kind{
    font-family: "Montserrat";
    font-weight: 600;
}
.community-card .desc{
    font-size: 15px;
    color: #121212;
    line-height: 1.75;
    transition: 0.3s ease;
}
.community-card .card-wed{
    margin-left: auto;
    font-size: 16px;
    color: #0EBCF6;
    font-family: "Montserrat";
    font-weight: 400;
    position: absolute;
    right: 35px;
    bottom: 40px;
    transition: 0.3s ease;
}
.community-card i{
    background: url("../images/visual/card-plus3.svg") no-repeat center / cover;
    left: 35px;
    bottom: 30px;
    transition: 0.3s ease;
}
.community-card:hover {
    background-color: #0EBCF6;
}
.community-card:hover .desc{
    color: #fff;
}
.community-card:hover .card-wed{
    color: #fff;
}
.community-card:hover i{
    background: url("../images/visual/card-arrow.svg") no-repeat center / cover;
}

/* card */


/* menu */

.menu-box{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #0EBCF6;
    z-index: 100000000;
    transition: 0.5s ease;
    padding-left: 108px;
    padding-bottom: 52px;
    height: 100vh;
    width: 890px;
    padding-top: 167px;
}
.menu-box.show{
    right: 0;
}
.menu-box .close-btn{
    position: absolute;
    right: 68px;
    top: 52px;
}
.menu-box > ul{
    display: flex;
    flex-direction: column;
    width: 380px;
    position: relative;
}
.menu-box > ul > li{
    opacity: 0.6;
    transition: 0.3s ease;
}
.menu-box > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
}
.menu-box > ul > li > a{
    color: #fff;
    padding-bottom: 34px;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s ease;
    display: block;
}
.menu-box > ul > li:hover{
    opacity: 1;
}
.menu-box > ul > li > a + ul{
    position: absolute;
    right: -142px;
    right: 0;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 10;
}
.menu-box > ul > li > a + ul a{
    margin-bottom: 20px;
    padding-bottom: 3px;
    font-size: 15px;
    color: #fff;
    opacity: 0.6;
    transition: 0.3s ease;
    display: inline-block;
    position: relative;
}
.menu-box > ul > li > a + ul a::after{
    content: "";
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.3s ease;
}
.menu-box > ul > li > a + ul a:hover{
    opacity: 1;
}
.menu-box > ul > li > a + ul a:hover::after{
    width: 100%;
}
.menu-box .menu-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 474px;
    z-index: 0;
    border-radius: 200px 0 0 0 ;
}

.menu-sub{
    position: absolute;
    bottom: 52px;
}
.menu-sub .login-link{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.menu-sub .login-link a{
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    display: inline-flex;
    align-items: center;
    transition: 0.3s ease;
}
.menu-sub .login-link a:last-child::before{
    content: "";
    display: inline-flex;
    align-items: center;
    width: 1px;
    height: 10px;
    background-color: #fff;
    margin: 2.5px 15px 0;
}
.menu-sub .login-link a:hover{
    opacity: 1;
}
.menu-sub .social{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-sub .social a{
    opacity: 0.5;
    transition: 0.3s ease;
}
.menu-sub .social a:hover{
    opacity: 1;
}

/* menu */



/* pagination */

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 60px;
    margin-bottom: 120px;
}
.pagination li:first-child{
    margin-left: 15px;
}
.pagination li:last-child{
    margin-right: 15px;
}
.pagination li a{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 15px;
    color: #121212;
    font-weight: 500;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li a.active{
    background-color: #0EBCF6;
    color: #fff;
}
.pagination a{
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.pagination a:hover{
    opacity: 0.6;
}

/* pagination */