
/* form common */

form .col{
    margin-top: 20px;
    position: relative;
}
form .spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
form input[type="text"],
form input[type="password"]{
    width: 400px;
    height: 60px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 15px;
    color: #000;
    outline: none;
    transition: 0.3s ease;
    border-radius: 10px;
}
form input::placeholder{
    color: #999;
}
form input[type="text"]:focus,
form input[type="password"]:focus{
    border: 1px solid #0B1F7D !important;
}
form input.fail{
    border: 1px solid #FF5647;
}
.fail-text{
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #FF5647;
    transition: 0.3s ease;
}
form input + .pw-view-btn + .fail-text{
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #FF5647;
    transition: 0.3s ease;
}
form input.fail + .pw-view-btn{
    top: calc(50% - 10px);
}
form input.fail + .pw-view-btn + .fail-text{
    margin-top: 6px;
    opacity: 1;
    visibility: visible;
    height: 13px;
}
form button.pw-view-btn{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 26px;
    height: 26px;
    transition: 0.3s ease;
}
form button.pw-view-btn i{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/icons/ico-pwViewOpen.svg") no-repeat center / cover;
    transition: 0.3s ease;
}
form button.pw-view-btn.active i{
    background: url("../images/icons/ico-pwViewClose.svg") no-repeat center / cover;
}

form input[type="checkbox"]{
    display: none;
}
form input[type="checkbox"] + label{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
form input[type="checkbox"] + label i{
    width: 20px;
    height: 20px;
    background: url("../images/icons/ico-checkbox.svg") no-repeat center / cover;
    transition: 0.2s ease;
}
form input[type="checkbox"]:checked + label i{
    background: url("../images/icons/ico-checkboxActive.svg") no-repeat center / cover;
}

form a{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease;
}
form a:hover{
    opacity: 0.6;
}

form button.form-submit-btn{
    width: 400px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1F7D;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 48px;
    transition: 0.3s ease;
    border-radius: 10px;
}
form button.form-submit-btn:hover{
    opacity: 0.8;
}

/* form common */




/* header */

body.scroll header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10000000;
    height: 100px;
    background-color: #fff;
    transition: 0.35s ease;
}
header .inner{
    width: calc(100% - 144px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-select{
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
}
header .logo-select-btn{
    width: 32px;
    height: 32px;
}
header .logo-select-btn.show i{
    transform: rotate(180deg);
}
header .logo-select-btn i{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/icons/ico-logoSelectArrow.svg") no-repeat center / cover;
    transition: 0.3s ease;
}
header .logo-list{
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    width: 260px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    background-color: #fff;
}
header .logo-list.show{
    opacity: 1;
    visibility: visible;
}
header .logo-list li:first-child{
    border-top: none;
}
header .logo-list li{
    padding: 5px 0;
    position: relative;
}
header.snuapp .logo-list li.active button::before{
    background-color: #60DF7C;
}
header .logo-list li.active button::before{
    content: "";
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #0EBCF6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header .logo-list li button{
    opacity: 0.6;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    transition: 0.3s ease;
    margin: 0 auto;
    position: relative;
}
header .logo-list li img{
    height: 30px;
}
header .logo-list li button:hover{
    opacity: 1;
}

header .gnb{
    margin-right: auto;
    margin-left: 130px;
    height: 100%;
}
header .gnb ul{
    display: flex;
    align-items: center;
    gap: 75px;
    height: 100%;
}
header .gnb ul li{
    position: relative;
    height: 100%;
}
header .gnb ul li a{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    transition: 0.35s ease;
}
header .gnb ul li:hover > a{
    opacity: 0.6;
}
header .gnb ul li.active{
    color: #0EBCF6;
}
header .gnb ul.depth1 > li.active::before{
    content: "";
    position: absolute;
    top: -6px;
    right: -8px;
    width: 5px;
    height: 5px;
    background-color: #0EBCF6;
}
header .gnb ul.depth1 > li > a:hover + ul.depth2{
    opacity: 1;
    visibility: visible;
}
header .gnb ul.depth2{
    gap: 46px;
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0;
    top: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
header .gnb ul.depth2 li a{
    height: max-content;
}
header .gnb ul.depth2 li{
    width: max-content;
    padding: 0 37px;
    font-size: 15px;
    color: #333;
    font-weight: 500;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .gnb ul.depth2 > li.active{
    border-bottom: 2px solid #0EBCF6;
    color: #0EBCF6;
}
header .gnb ul.depth2 > li.active > a{
    position: relative;
}
header .gnb ul.depth2 > li.active > a::before{
    content: "";
    width: 5px;
    height: 5px;
    display: block;
    background-color: #0EBCF6;
    position: absolute;
    right: -8px;
    top: -5px;
}

header .sub-menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
header .sub-menu a.profile{
    display: flex;
    gap: 7px;
    align-items: center;
    width: 196px;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    border: 1px solid #0B1F7D;
    transition: 0.35s ease;
    gap: 0;
    overflow:hidden;
    padding-left: 10.45px;
}
header .sub-menu a.profile:hover{
    width: 196px;
    gap: 7px;
    padding: 0 26px;
}
header .sub-menu a.profile.main{
    width: 196px;
    gap: 7px;
    padding: 0 26px;
}
header .sub-menu a.profile.main span{
    opacity: 1;
}

header .sub-menu span{
    font-size: 16px;
    font-weight: 600;
    color: #0B1F7D;
    position: relative;
    transition: 0.35s ease;
    opacity: 0;
    width: 0;
    white-space: nowrap;
    width: 110px;
}
header .sub-menu a.profile:hover span{
    opacity: 1;
}
header .sub-menu span::after{
    content: "";
    width: 4px;
    height: 4px;
    background-color: #0B1F7D;
    position: absolute;
    right: -5px;
    top: -5px;
    transition: 0.35s ease;
}
header .search-btn{
    display: flex;
    align-items: center;
}
header .menu-open-btn{
    display: flex;
    align-items: center;
}
header .join-state-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ddd;
}
header .join-state-bar span{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0B1F7D;
    height: 3px;
}

.myPage-header{
    background-color: #0B1F7D;
}

/* header */



/* footer */

footer{
    border-top: 1px solid #ddd;
    padding: 84px 0;
    /* background: url("../images/visual/footer-bg.svg") no-repeat right bottom / 695px; */
    overflow-x: hidden;
}
footer .inner{
    width: calc(100% - 40px);
    max-width: 1434px;
    margin: 0 auto;
    position: relative;
}
footer .footer-top{
    display: flex;
    justify-content: space-between;
}
footer .fnb{
    margin-bottom: 145px;
    margin-bottom: 70px;
}
footer .fnb a{
    font-size: 35px;
    font-weight: 600;
    color: #0EBCF6;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 7px;
}
.snuapp + footer .fnb a{
    color: #60DF7C;
}
footer .fnb li:last-child a{
    margin-bottom: 0;
}
footer .fnb a img{
    transition: 0.3s ease;
    opacity: 0;
    margin-top: 6px;
}
footer .fnb a:hover img{
    opacity: 1;
}
footer .footer-content{
    /* padding-left: 350px; */
}
footer .footer-content h2{
    font-size: 35px;
    color: #0EBCF6;
    margin-bottom: 32px;
    font-family: "Montserrat";
    font-weight: 800;
}
.snuapp + footer .footer-content h2{
    color: #60DF7C;
}
footer .footer-content h2 img{
    display: none;
}

footer .footer-content ul{
    display: flex;
    gap: 78px;
}
footer .footer-content span{
    font-size: 20px;
    font-weight: 600;
    color: #0EBCF6;
    display: block;
    font-family: "Noto Sans Kr";
}
footer .footer-content-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 26px;
}
.snuapp + footer .footer-content span{
    color: #60DF7C;
}
/* footer .footer-content span::before{
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #0EBCF6;
    margin-bottom: 16px;
}
.snuapp + footer .footer-content span::before{
    background-color: #60DF7C;
} */
footer .footer-content a{
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 300;
    color: #0EBCF6;
    margin-bottom: 13px;
    display: block;
}
.snuapp + footer .footer-content a{
    color: #60DF7C;
}
footer .footer-content p{
    font-size: 14px;
    font-weight: 300;
    color: #0EBCF6;
}
.snuapp + footer .footer-content p{
    color: #60DF7C;
}
footer .footer-bottom{
    padding-top: 68px;
    border-top: 1px solid #0EBCF6;
    
}
footer .footer-bottom .footer-select-btn{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    font-weight: 600;
    color: #0EBCF6;
}
.snuapp + footer .footer-bottom .footer-select-btn{
    color: #60DF7C;
}
footer .copyright{
    font-size: 12px;
    font-weight: 400;
    color: #0EBCF6;
    margin-top: 12px;
}
.snuapp + footer .copyright{
    color: #60DF7C;
}
.footer-select-content{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: #0EBCF6;
    font-weight: 400;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
    transition: 0.3s ease;
}
.snuapp + footer .footer-select-content{
    color: #60DF7C;
}
.footer-select-btn.active + .footer-select-content{
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
}
.footer-select-btn img{
    transition: 0.3s ease;
}
.footer-select-btn.active img{
    transform: rotate(180deg);
}
footer .footer-content a.kakaoCh{
    font-size: 12px;
    color: #231815;
    padding-left: 32px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: max-content;
    background-color: #fff3a3;
    font-weight: 400;
    border-radius: 33px;
    position: relative;
    font-family: "Noto Sans Kr";
    margin-top: 35px;
}
footer .kakaoCh i{
    width: 28px;
    height: 30px;
    background: url("../images/icons/ico-kakaoCh.svg") no-repeat center / cover;
    display: block;
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
}

/* footer */



/* page path */

.programList .page-path{
    padding-top: 260px;
}
.programList .program-slide .page-path{
    /* margin: 0; */
    padding-top: 120px;
}
.programList .program-slide .page-path .inner{
    margin: 0;
}
.programList .program-slide .page-path .current{
    color: #fff;
}
.programList .program-slide .page-path li:before{
    background-color: #fff;
}
.list-cont .page-path{
    padding-top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: max-content;
    width: max-content;
}
.single .page-path{
    position: relative;
    margin: 0 0 40px 0;
    padding-top: 0;
}
.page-path{
    width: calc(100% - 40px);
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 160px;
    position: relative;
    z-index: 1000;
}
.page-path .inner{
    width: max-content;
    position: relative;
}
.page-path .page-select{
    top: 40px;
    right: 0;
    width: 120px;
    flex-direction: column;
}
.page-path .page-select.show{
    opacity: 1;
    visibility: visible;
}
.page-path .page-select li{
    width: 100%;
    text-align: center;
}
.page-path .page-select li::before{
    display: none;
}
.page-path .page-select li:last-child{
    font-weight: 400;
}
.page-path .page-select li:last-child a{
    font-weight: 400;
}

.page-path ul{
    display: flex;
    align-items: center;
    width: max-content;
}
.page-path li{
    font-size: 14px;
    font-weight: 400;
    color: #a0a0a0;
    display: flex;
    align-items: center;
}
.page-path .current{
    color: #3B3B3B;
}
.page-path li:before{
    content: "";
    display: flex;
    align-items: center;
    width: 30px;
    height: 1px;
    background-color: #ABABAB;
    margin: 2.5px 18px 0;
}
.page-path li:first-child::before{
    display: none;
}
.page-path li:last-child::before{
    display: none;
}
.page-path li:last-child{
    color: #0EBCF6;
    font-weight: 600;
}
.page-path-btn{
    width: 28px;
    height: 28px;
    border: 1px solid #E9E9E9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
}

/* page path */




/* style */

section .inner{
    width: calc(100% - 40px);
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}
section .inner.st2{
    max-width: 978px;
}
section .inner.st3{
    max-width: 580px;
}

.dim{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.dim.show{
    opacity: 1;
    visibility: visible;
}

/* style */



/* search-box */

.search-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100000000;
    background-color: #fff;
    transition: 0.5s ease;
    padding-bottom: 144px;
    top: -100%;
}
.search-box.show{
    top: 0;
}
.search-box .close-btn{
    position: absolute;
    top: 52px;
    right: 68px;
}
.search-box form{
    display: flex;
    justify-content: center;
    padding-top: 172px;
    padding-top: 146px;
}
.search-box .col{
    width: calc(100% - 40px);
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.search-box input.search-input[type="text"]{
    border: none !important;
    font-size: 22px !important;
    width: 100% !important;
    height: 86px !important;
    padding-left: 0 !important;
    border-bottom: 1px solid #d2d2d2 !important;    
    border-radius: 0 !important;
}
.search-box input.search-input[type="text"]:focus{
    border: none !important;
    border-bottom: 1px solid #0EBCF6 !important;
}
.search-box input::placeholder{
    font-size: 22px;
    color: #999;
}
.search-box .search-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
}
.search-box .keyword-inner{
    width: calc(100% - 40px);
    max-width: 1024px;
    margin: 36px auto 0;
}
.search-box .keyword-inner p{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 24px;
}
.search-box .keyword{
    display: flex;
    gap: 10px;
}
.search-box .keyword li a{
    padding: 10px 16px;
    font-size: 14px;
    color: #101010;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    background-color: #f6f6f6;
    transition: 0.3s ease;
}
.search-box .keyword li a:hover{
    background-color: #0EBCF6;
    color: #fff;
}

/* search-box */



/* select */

.select{
    position: relative;
    width: 156px;
}
.select.readonly .select-current{
    background-color: #f6f6f6;
    color: #aaa;
}
.select.readonly .select-current img{
    display: none;
}

.select-current{
    width: 100%;
    height: 52px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    font-weight: 500;
    position: relative;
    z-index: 10000;
    background-color: #fff;
    cursor: pointer;
}
.select.show .select-list{
    opacity: 1;
    visibility: visible;
}
.select-list{
    position: absolute;
    z-index: 1000;
    /* top: calc(100% - 20px); */
    top: 40px;
    width: 100%;
    padding: 26px 0 6px;
    padding: 6px 0;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.select-list button,
.select-list a{
    font-size: 14px;
    color: #666;
    opacity: 0.6;
    transition: 0.35s ease;
    width: calc(100% - 20px);
    margin: 0 auto;
    display: block;
    padding: 8px 0;
    /* border-top: 1px solid #e9e9e9; */
}
.select-list li:first-child button,
.select-list li:first-child a{
    border-top: none;
}
.select-list button:hover,
.select-list a:hover{
    opacity: 1;
}

/* select */


/* card */

.swiper-slide.card{
    width: 330px !important;
    height: 328px !important;
}
.grid.card{
    width: 100%;
    height: 360px;
}
.card{
    border-radius: 20px;
    position: relative;
    padding: 40px 28px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    display: block;
    z-index: 1000;
    transition: 0.3s ease;
}
.card .kind{
    font-size: 14px;
    font-weight: 600;
    color: #0EBCF6;
    margin-bottom: 16px;
    display: block;
    transition: 0.3s ease;
}
.snuapp .card .kind{
    color: #60DF7C;
}
.card .title{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -1px;
    word-break: keep-all;
    margin-bottom: 20px;
    transition: 0.3s ease;
}
.card .date-wrap{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 62px;
    width: 164px;
    height: 30px;
    transition: 0.3s ease;
}
.card .accept{
    flex: 1;
    background-color: #0EBCF6;
    border-radius: 8px 0 0 8px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    font-family: "Noto Sans Kr";
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 100%;
}
.card .accept span{
    min-width: 22px;
}
.card .deadline{
    flex: 1;
    height: 100%;
    background-color: transparent;
    font-size: 12px;
    color: #0EBCF6;
    font-weight: 600;
    font-family: "Noto Sans Kr";
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0EBCF6;
}
.card .hov{
    opacity: 0;
    visibility: hidden;
    width: 0;
    font-weight: 400;
}
.card .dDay{
    padding: 9px 17px;
    border-radius: 8px;
    background-color: #0EBCF6;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.snuapp .card .dDay{
    background-color: #60DF7C;
}
.card .date{
    font-size: 15px;
    color: #0EBCF6;
    font-weight: 400;
    margin-bottom: 2px;
    transition: 0.3s ease;
}
.snuapp .card .date{
    color: #60DF7C;
}
.card .address{
    position: absolute;
    bottom: 14px;
    left: 0;
}
.card i{
    width: 36px;
    height: 36px;
    background: url("../images/icons/ico-address.svg") no-repeat center / cover;
    transition: 0.3s ease;
    display: block;
}
.card:hover i{
    background: url("../images/icons/ico-addressActive.svg") no-repeat center / cover;
}
.snuapp .card i{
    background: url("../images/visual/cardArrowBlack.svg") no-repeat center / cover;
}
.snuapp .card:hover i{
    background: url("../images/visual/cardArrowWhite.svg") no-repeat center / cover;
}

.card .card-state{
    margin-left: auto;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #F8F8F8;
    overflow: hidden;
}
.card .state-number{
    position: absolute;
    z-index: 10;
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.card .state-number .current{
    font-weight: 600;
}
.card .wave{
    position: absolute;
    /* 0 ~ 5 */
    bottom: -265px;
    bottom: -250px;
    left: 50%;
    background: #0EBCF6;
    width: 265px;
    height: 265px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    border-radius: 43%;
    -webkit-animation: wave 8000ms infinite linear;    
    -ms-animation: wave 8000ms infinite linear;    
    animation: wave 8000ms infinite linear;
    z-index: 0;
    overflow: hidden;
}
.snuapp .card .wave{
    background: #60DF7C;
}
.card .state-number.clear-state + .wave{
    bottom: -200px;
}
.card .state-number.clear-state1 + .wave{
    bottom: -220px;
}
.card .state-number.clear-state2 + .wave{
    bottom: -250px;
}
.card .state-number.clear-state3 + .wave{
    bottom: -260px;
}
.card .state-number.clear-state2 ,
.card .state-number.clear-state3 {
    color: #333;
}
.card .state-number.clear-state2 .current,
.card .state-number.clear-state3 .current{
    color: #0EBCF6;
}
.snuapp .card .state-number.clear-state2 .current,
.snuapp .card .state-number.clear-state3 .current{
    color: #60DF7C;
}
.card .card-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease;
}
.card .card-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.card .card-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover .card-bg{
    opacity: 1;
}
.card .card-content{
    position: relative;
    height: 100%;
    z-index: 10;
}

.card .address{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    font-family: "Noto Sans Kr";
    transition: 0.3s ease;
}

.card:hover .address{
    color: #fff;
}
.card:hover{
    transform: translateY(-15px);
    filter: drop-shadow(0px 12px 15px rgba(0, 0, 0, 0.16));
}
.card:hover .kind{
    color: #fff;
}
.card:hover .title{
    color: #fff;
}
.card:hover .date{
    color: #fff;
}
.card:hover .date-wrap{
    width: 100%;
}
.card:hover .hov{
    opacity: 1;
    visibility: visible;
    width: 100px;
}
.card:hover .hov + p{
    opacity: 0;
    visibility: hidden;
    width: 0;
}
.card:hover .deadline{
    border: 1px solid #fff;
    border-left: 1px solid #0EBCF6;
    color: #fff;
}

@keyframes wave {
    from { 
        -webkit-transform: translateX(-50%) rotate(0deg);
        -ms-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
     }
    to { 
        -webkit-transform: translateX(-50%) rotate(360deg);
        -ms-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
     }
}

.community-card {
    padding: 32px 35px 40px;
}
.swiper-slide.community-card{
    width: 330px !important;
    height: 312px !important;
    transition: 0.3s ease;
}
.community-card .kind{
    font-family: "Montserrat";
    font-weight: 600;
}
.community-card .desc{
    font-size: 15px;
    color: #121212;
    line-height: 1.75;
    transition: 0.3s ease;
}
.community-card .card-wed{
    margin-left: auto;
    font-size: 16px;
    color: #0EBCF6;
    font-family: "Montserrat";
    font-weight: 400;
    position: absolute;
    right: 35px;
    bottom: 40px;
    transition: 0.3s ease;
}
.snuapp .community-card .card-wed{
    color: #60DF7C;
}
.community-card i{
    background: url("../images/visual/card-plus3.svg") no-repeat center / cover;
    left: 35px;
    bottom: 30px;
    transition: 0.3s ease;
}
.snuapp .community-card i{
    background: url("../images/visual/card-plus3.svg") no-repeat center / cover;
}
.snuapp .community-card:hover i{
    background: url("../images/icons/ico-rightWhiteArrow2.svg") no-repeat center / cover;
}
.community-card:hover {
    background-color: #0EBCF6;
}
.snuapp .community-card:hover {
    background-color: #60DF7C;
}
.community-card:hover .desc{
    color: #fff;
}
.community-card:hover .card-wed{
    color: #fff;
}
.community-card:hover i{
    background: url("../images/visual/card-arrow.svg") no-repeat center / cover;
}




.card.news-card{
    box-shadow: none !important;
    border: none !important;
    transform: none !important;
    filter: none !important;
    padding: 0;
}
.card.news-card i{
    width: 20px;
    height: 20px;
    background: url("../images/icons/ico-eyeGray.svg") no-repeat center / cover;
}
.card.news-card .img-cont{
    height: 230px;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 37px;
}
.card.news-card .bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.card.news-card .bg.snucomm-cardDefault{
    background-color: #F4FBFF;
}
.card.news-card .bg.snuep-cardDefault{
    background-color: #EEFFF2;
}
.card.news-card .card-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card.news-card .card-desc .date{
    width: max-content;
    height: auto;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #c7c7c7;
    border: none;
}
.card.news-card .number{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #c7c7c7;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
}
.card.news-card .number i{
    width: 20px;
    height: 20px;
    display: block;
    background: url("../images/icons/ico-eyeGray.svg") no-repeat center / cover;
}
.card.news-card .card-title{
    font-size: 18px;
    color: #000;
    font-family: "Noto Sans Kr";
    font-weight: 600;
    line-height: 1.5;
}
.card.news-card a{
    margin-top: 35px;
}


/* card */


/* menu */

.menu-box{
    position: fixed;
    top: 0;
    right: -890px;
    background-color: #0EBCF6;
    z-index: 100000000;
    transition: 0.5s ease;
    padding-left: 100px;
    padding-bottom: 52px;
    height: 100vh;
    width: 890px;
    padding-top: 167px;
}
.menu-box.mo{
    display: none;
}
.menu-box.show{
    right: 0;
}
.menu-box .close-btn{
    position: absolute;
    right: 68px;
    top: 52px;
}
.menu-box > ul{
    display: flex;
    flex-direction: column;
    width: 326px;
    position: relative;
}
.menu-box > ul > li{
    opacity: 0.6;
    transition: 0.3s ease;
}
.menu-box > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
}
.menu-box > ul > li > a{
    color: #fff;
    padding-bottom: 34px;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s ease;
    display: block;
}
.menu-box > ul > li:hover{
    opacity: 1;
}
.menu-box > ul > li > a + ul{
    position: absolute;
    left: 200px;
    right: 0;
    top: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 10;
}
.menu-box ul.depth3{
    position: absolute;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    text-align: center;
}
.menu-box ul.depth3 a:hover::after{
    display: none;
}
.menu-box > ul > li:nth-child(2) > a + ul{
    /* display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 37px; */
    width: 333px;
    width: 450px;
    height: 140px;
    display: block;
}
.menu-box > ul > li:nth-child(2) > a + ul > li{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 37px;
    height: 38px;
    transition: 0.3s ease;
}
.menu-box > ul > li:nth-child(2) > a + ul li a{
    height: max-content;
    display: block;
    position: relative;
    z-index: 100;
}
.menu-box > ul > li:nth-child(2) > a + ul li ul{
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    transition: 0.3s ease;
}
/* .menu-box > ul > li:nth-child(2) > a + ul > li:hover{
    height: 140px;
} */
/* .menu-box > ul > li:nth-child(2) > a + ul > li:first-child:hover{
    height: 38px;
} */
.menu-box > ul > li:nth-child(2) > a + ul li:hover > a{
    opacity: 1;
}
.menu-box > ul > li:nth-child(2) > a + ul > li:hover > a::after{
    width: 100%;
}
.menu-box > ul > li:nth-child(2) > a + ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.menu-box > ul > li > a + ul a{
    margin-bottom: 20px;
    padding-bottom: 3px;
    font-size: 15px;
    color: #fff;
    opacity: 0.6;
    transition: 0.3s ease;
    display: inline-block;
    position: relative;
}
.menu-box > ul > li > a + ul a::after{
    content: "";
    width: 0;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.3s ease;
}
.menu-box > ul > li > a + ul a:hover{
    opacity: 1;
}
.menu-box > ul > li > a + ul a:hover::after{
    width: 100%;
}
.menu-box .menu-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 474px;
    z-index: 0;
    border-radius: 200px 0 0 0 ;
}

.menu-sub{
    position: absolute;
    bottom: 52px;
}
.menu-sub .login-link{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.menu-sub .login-link a{
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    display: inline-flex;
    align-items: center;
    transition: 0.3s ease;
}
.menu-sub .login-link a:last-child::before{
    content: "";
    display: inline-flex;
    align-items: center;
    width: 1px;
    height: 10px;
    background-color: #fff;
    margin: 2.5px 15px 0;
}
.menu-sub .login-link a:hover{
    opacity: 1;
}
.menu-sub .social{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-sub .social a{
    opacity: 0.5;
    transition: 0.3s ease;
}
.menu-sub .social a:hover{
    opacity: 1;
}

/* menu */



/* pagination */

.qna .pagination{
    margin-top: 0;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 60px;
    margin-bottom: 120px;
}
.pagination li:first-child{
    margin-left: 15px;
}
.pagination li:last-child{
    margin-right: 15px;
}
.pagination li a{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 15px;
    color: #121212;
    font-weight: 500;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li a.active{
    background-color: #0EBCF6;
    color: #fff;
}
.pagination a{
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}
.pagination a:hover{
    opacity: 0.6;
}

/* pagination */






.sub header.subpage-header{
    display: none;
}


@media all and (max-width:768px){

    .menu-box{
        right: -100vw;
        width: 100vw;
    }
    header{
        height: 70px;
    }
    header .gnb{
        display: none;
    }
    header .sub-menu a.profile{
        display: none;
    }
    header .inner{
        width: calc(100% - 40px);
    }
    header .logo-select{
        flex-direction: row-reverse;
    }
    header .logo-list{
        position: fixed;
        left: 0;
        top: 70px;
        width: 100vw;
    }
    header .current-logo img{
        width: 110px;
    }
    header .logo-list li button{
        opacity: 1;
    }

    .menu-box .menu-img{
        display: none;
    }

    .swiper-slide.card{
        width: 300px !important;
        height: 284px !important;
    }
    .card{
        padding: 35px;
    }
    .card .kind{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .card .title{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .card .date{
        font-size: 13px;
    }
    .card .dDay{
        height: 25px;
        padding: 0 13px;
        display: flex;
        align-items: center;
    }
    .card i{
        width: 32px;
        height: 32px;
    }
    .card .card-state{
        width: 57px;
        height: 57px;
        z-index: 1000;
        overflow: hidden;
    }
    .card .wave{
    }
    .card:hover i{
        background-size: 32px 32px;
    }
    .community-card{
        padding: 28px;
    }
    .community-card .kind{
        font-size: 20px;
        font-weight: 700;
    }

    footer{
        background: url("../images/visual/footer-bg-mo.svg") no-repeat center 20px / 272px;
    }
    footer .fnb{
        margin-bottom: 20px;
    }
    footer .fnb a{
        font-size: 20px;
        justify-content: center;
        margin-bottom: 20px;
    }
    footer .footer-top{
        flex-direction: column;
    }
    footer .footer-content{
        padding-left: 0;
    }
    footer .fnb a img{
        display: none;
    }
    footer .footer-content h2{
        font-size: 20px;
        text-align: center;
    }
    footer .footer-content span{
        font-size: 13px;
        margin-bottom: 5px;
    }
    footer .footer-content a{
        font-size: 16px;
        margin-bottom: 5px;
    }
    footer .footer-content p{
        font-size: 11px;
    }
    footer .footer-content span::before{
        width: 14px;
        height: 2px;
        margin-bottom: 5px;
    }
    footer .footer-bottom{
        margin-top: 50px;
    }
    footer .footer-content ul{
        gap: 0;
        justify-content: space-between;
        width: calc(100% - 60px);
        margin: 0 auto;
    }
    footer .footer-bottom .footer-select-btn{
        font-size: 11px;
        color: #999 !important;
        margin: 0 auto;
        font-weight: 300;
    }
    .footer-select-btn + .footer-select-content{
        height: 0;
    }
    .footer-select-btn.active + .footer-select-content{
        height: 10px;
    }
    .footer-select-btn img{
        filter: grayscale(1);
        width: 10px;
        height: 10px;
    }
    .footer-select-content{
        font-size: 10px;
        color: #999 !important;
        gap: 9px;
        text-align: center;
        justify-content: center;
    }
    footer .copyright{
        font-size: 11px;
        color: #999 !important;
        text-align: center;
    }
    footer .footer-content h2{
        margin-bottom: 0;
        transition: 0.3s ease;
        position: relative;
        width: max-content;
        margin: 0 auto;
    }
    footer .footer-content h2 img{
        display: block;
        position: absolute;
        top: 2px;
        right: -20px;
        transition: 0.3s ease;
    }
    footer .footer-content.show h2 img{
        transform: rotate(180deg);
    }
    footer .footer-content ul{
        opacity: 0;
        transition: 0.3s ease;
        height: 0;
        visibility: hidden;
    }
    footer .footer-content.show ul{
        height: 70px;
        opacity: 1;
        visibility:visible;
        margin-top: 20px;
        touch-action: pan-x;  
    }






    .menu-box{
        padding: 20px;
        display: none;
    }
    .menu-box.mo{
        display: block;
        background-color: #fff;
    }
    .menu-box::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 88px;
        border-radius: 0 0 72px 0;
        background-color: #0EBCF6;
    }
    .menu-box .close-btn{
        right: 20px;
        top: 20px;
    }
    .menu-box .close-btn img{
        width: 17px;
        height: 17px;
    }
    .menu-box .menu-box-login{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1000;
    }
    .menu-box .menu-box-login p{
        font-size: 12px;
        color: #fff;
        margin-bottom: 16px;
        font-weight: 300;
    }
    .menu-box .menu-box-login a{
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 16px;
        color: #fff;
        font-weight: 500;
    }
    .menu-box .menu-box-login a img{
        width: 12px;
        height: 12px;
    }
    .menu-box .depth1{
        padding-top: 100px;
        width: 100%;
    }
    .menu-box > ul > li > button{
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        color: #333;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        transition: 0.3s ease;
    }
    .menu-box > ul > li:hover > button{
        color: #0EBCF6;
    }
    .snuapp .menu-box > ul > li:hover > button{
        color: #60DF7C;
    }

    .menu-box > ul > li{
        opacity: 1;
    }
    .menu-box .depth1 > li > button i{
        width: 18px;
        height: 18px;
        display: block;
        background: url("../images/icons/ico-rightBlueArrow.svg") no-repeat center / cover;
        filter: grayscale(1);
        transition: 0.3s ease;
    }
    .menu-box .depth1 > li:hover > button i{
        filter: grayscale(0);
    }
    .menu-box .depth2{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }
    .menu-box .depth2.show{
        opacity: 1;
        visibility: visible;
    }

    .menu-box .depth2 .top{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        padding: 0 20px;
    }
    .menu-box .depth2 .top .back-btn{
        display: flex;
        gap: 5px;
        align-items: center;
        color: #000;
        font-weight: 600;
        font-size: 15px;
    }
    .menu-box .depth2 .top .back-btn img{
        height: 12px;
        margin-top: 3px;
    }
    .menu-box .depth2 .top .close-btn{
        position: relative;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
    }
    .menu-box .depth2 .list{
        width: 100%;
    }
    .menu-box .depth2 .list button:last-of-type{
        border-bottom: 1px solid #e9e9e9;

    }
    .menu-box .depth2 .list button{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: #333;
        width: 100%;
        padding: 0 20px;
        border-top: 1px solid #e9e9e9;
        background-color: #fff;
        transition: 0.3s ease;
        position: relative;
        z-index: 10;
        top: -1px;
    }
    .menu-box .depth2 .list button img{
        transform: rotate(90deg);
        filter: grayscale(1);
        transition: 0.3s ease;
    }
    .menu-box .depth2 .list button.show{
        color: #0EBCF6;
        font-weight: 500;
    }
    .menu-box .depth2 .list button.show img{
        transform: rotate(-90deg);
        filter: grayscale(0);
    }
    .menu-box .depth2 .list button + ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 0;
    }
    .menu-box .depth2 .list button + ul:last-of-type{
        top: -3px;
    }
    .menu-box .depth2 .list button + ul li{
        width: 100%;
        height: 50px;
        border: 1px solid #e9e9e9;
        border-top: none;
    }
    .menu-box .depth2 .list button + ul li:nth-child(even){
        border-left: none;
    }
    .menu-box .depth2 .list button + ul li:nth-child(1),
    .menu-box .depth2 .list button + ul li:nth-child(2){
        border-top: 1px solid #e9e9e9;
    }
    .menu-box .depth2 .list button + ul li a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #333;
    }
    .menu-box .depth2 .list button + ul{
        transition: 0.3s ease;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }
    .menu-box .depth2 .list button.show + ul{
        max-height: 400px;
        opacity: 1;
        visibility: visible;
    }

    .menu-box.login .menu-box-login{
        display: flex;
        gap: 20PX;
        align-items: center;
        top: 32px;
    }
    .menu-box.login::before{
        height: 132px;
    }
    .menu-box .profile img{
        width: 80px;
        height: 80px;
    }
    .menu-box .menu-box-login p{
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }
    .menu-box .menu-box-login p span{
        font-size: 20px;
        font-weight: 600;
    }
    .menu-box.login .menu-box-login a{
        border-bottom: 1px solid #fff;
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
    }
    .menu-box .mypage-btn{
        position: absolute;
        top: 16px;
        right: 50px;
        width: 26px;
    }
    .menu-box.login .depth1{
        padding-top: 130px;
    }

    .snuapp .menu-box::before{
        background-color: #60DF7C;
    }
    .snuapp .menu-box .depth1 > li > button i{
        background: url("../images/icons/ico-rightGreenArrow.svg") no-repeat center / cover;
    }
    .snuapp .menu-box .depth2 .list button.show{
        color: #60DF7C;
    }

    header .sub-menu{
        gap: 15px;
    }
    header .search-btn img{
        width: 22px;
        height: 22px;
    }
    .sub header{
        display: none;
    }
    .sub header.subpage-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .sub header.subpage-header span{
        height: 17px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 15px;
        font-weight: 600;
        width: 180px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
    }
    .page-path{
        display: none;
    }

    .grid.card{
        height: 332px;
    }
    .pagination{
        margin-top: 50px;
        margin-bottom: 70px;
    }

    header{
        border-bottom: 1px solid #e9e9e9;
    }
    body.scroll header{
        box-shadow: none;
    }

    .select{
        width: 110px;
    }
    form input[type="text"], form input[type="password"]{
        padding: 0 15px;
    }

    footer{
        padding: 60px 0;
    }

    .card{
        box-shadow: none;
        border: 1px solid #e9e9e9;
    }
    .community-card:hover{
        background-color: #fff;
    }
    .community-card:hover .kind{
        color: #0EBCF6;
    }
    .community-card:hover .desc{
        color: #121212;
    }
    .community-card:hover .card-wed{
        color: #0EBCF6;
    }
    .community-card i{
        background: url("../images/icons/ico-rightBlackArrow.svg") no-repeat center / cover;
    }
    .community-card i{
        background: url("../images/icons/ico-rightBlackArrow.svg") no-repeat center / cover;
    }
    .community-card:hover i{
        background: url("../images/icons/ico-rightBlackArrow.svg") no-repeat center / cover;
    }

    header .logo-select-btn i{
        background: url("../images/icons/ico-logoSelectArrow-mo.svg") no-repeat center / cover;
    }

    .snuapp .community-card:hover{
        background-color: #fff;
    }
    .snuapp .community-card:hover .kind{
        color: #60DF7C;
    }
    .snuapp .community-card:hover .card-wed{
        color: #60DF7C;
    }
    .snuapp .community-card i{
        background: url(../images/icons/ico-rightBlackArrow.svg) no-repeat center / cover;
    }
    .snuapp .community-card:hover i{
        background: url(../images/icons/ico-rightBlackArrow.svg) no-repeat center / cover;
    }
}




/* category */

.category .inner{
    width: calc(100% - 40px);
    max-width: 1434px;
    padding: 120px 0;
}

.category-list{
    max-width: 100%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.category-list > li{
    position: relative;
    flex: 1;
    height: 548px;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.3s ease;
}
.category-list > li:hover{
    flex: 1.35;
}
.category-list > li .category-card-front{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.category-list > li .category-card-front::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.category-list > li:nth-child(1) .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/common/category-visual01.png) no-repeat center / cover;
}
.category-list > li:nth-child(2) .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/common/category-visual02.png) no-repeat center / cover;
}
.category-list > li:nth-child(3) .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/common/category-visual03.png) no-repeat center / cover;
}
.category-list > li:nth-child(4) .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/common/category-visual04.png) no-repeat center / cover;
}
.category-list span{
    font-size: 30px;
    color: #fff;
    font-family: "Noto Sans Kr";
    font-weight: 600;
    position: absolute;
    bottom: 37px;
    left: 46px;
    z-index: 1000;
}

.category-list > li:hover .category-card-content{
    opacity: 1;
    visibility: visible;
}
.category-list > li:hover .category-card-content ul{
    opacity: 1;
    visibility: visible;
    transition: 0.3s 0.35s ease;
}
.category-card-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    padding-left: 46px; 
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.category-card-content ul{
    width: calc(100% - 40px);
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    transition: 0.3s 0s ease;
    opacity: 0;
    visibility: hidden;
}
.category-card-content ul li{
    height: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
    font-family: "Noto Sans Kr";
}
.category-card-content ul li:hover{
    background-color: #0EBCF6;
}
.category-card-content ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.category-card-content ul li.share{
    border-radius: 100%;
    width: 78px;
    height: 78px;
    border: 1.5px solid #fff;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.category-card-content ul li.share i{
    width: 33px;
    height: 33px;
    background: url(../images/icons/ico-share.svg) no-repeat center / cover;
    transition: 0.3s ease;
    display: block;
}
.category-card-content ul li.share:hover{
    background-color: #fff;
}
.category-card-content ul li.share:hover i{
    background: url(../images/icons/ico-shareActive.svg) no-repeat center / cover;
}

/* category */





/* page-title */

.page-title{
    margin-top: 240px;
    margin-bottom: 50px;
    position: relative;
}
.page-title p{
    font-size: 17px;
    font-family: "Noto Sans Kr";
    font-weight: 400;
    color: #0EBCF6;
    margin-bottom: 14px;
}
.page-title h2{
    font-size: 38px;
    font-weight: 300;
    font-family: "Noto Sans Kr";
    color: #000;
    line-height: 1.5;
}
.page-title h2 span,
.page-title h3 span{
    font-weight: 600;
}
.page-title h3{
    font-size: 28px;
    font-family: "Noto Sans Kr";
    color: #000;
    line-height: 1.5;
    margin-bottom: 16px;
}

/* page-title */



/* banner */

.full-banner{
    width: calc(100% - 144px);
    margin: 0 auto;
    display: block;
}
.full-banner .bg{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.full-banner.st1{
    height: 560px;
}
.full-banner.st2{
    height: 530px;
}

/* banner */





/* button */

.blue-strok-btn{
    width: max-content;
    height: 60px;
    padding: 0 40px;
    border-radius: 60px;
    border:  1px solid #0EBCF6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #0EBCF6;
    font-weight: 600;
    font-family: "Noto Sans Kr";
    margin: 0 auto;
    transition: 0.3s ease;
}
.blue-strok-btn i{
    width: 22px;
    height: 22px;
    background: url("../images/icons/ico-rightBlueArrow2.svg") no-repeat center / cover;
    margin-top: 2px;
    transition: 0.3s ease;
}
.blue-strok-btn:hover{
    background-color: #0EBCF6;
    color: #fff;
}
.blue-strok-btn:hover i{
    background: url("../images/icons/ico-rightWhiteArrow2.svg") no-repeat center / cover;
}
.blue-strok-btn:hover i.diagonal-ico{
    background: url("../images/icons/ico-blueDiagonalArrow2.svg") no-repeat center / cover !important;
}



.gray-strok-btn{
    width: max-content;
    height: 50px !important;
    padding: 0 50px;
    border-radius: 50px;
    border:  1px solid #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: #5E5E5E;
    font-weight: 600;
    font-family: "Noto Sans Kr";
    margin: 0 auto;
    transition: 0.3s ease;
    margin: 0;
}
.gray-strok-btn:hover{
    background-color: #0EBCF6 !important;
    color: #fff !important;
    border: 1px solid #0EBCF6 !important;
}

.white-strok-btn{
    width: max-content;
    height: 60px !important;
    padding: 0 50px;
    border-radius: 60px;
    border:  1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: "Noto Sans Kr";
    margin: 0 auto;
    transition: 0.3s ease;
    margin: 0;
}
.white-strok-btn:hover{
    background-color: #0EBCF6 !important;
    color: #fff !important;
    border: 1px solid #0EBCF6 !important;
}


.fill-blue-btn{
    width: max-content;
    height: 60px !important;
    padding: 0 30px;
    border-radius: 10px;
    border:  1px solid #0EBCF6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: "Noto Sans Kr";
    margin: 0 auto;
    transition: 0.3s ease;
    margin: 0;
    background-color: #0EBCF6;
}


/* button */






/* small banner */

.s-banner{
    height: 390px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.s-banner .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.s-banner .bg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
}
.s-banner p{
    font-size: 25px;
    color: #fff;
    line-height: 2;
    font-weight: 300;
    font-family: "Noto Sans Kr";
    text-align: center;
}
.s-banner p span{
    font-weight: 600;
}
.s-banner em{
    font-family: "Montserrat";
}
.s-banner h3{
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
}
.s-banner h3 span{
    font-weight: 600;
}

/* small banner */




/* icon */

.pencil-ico.st2{
    width: 21px !important;
    height: 21px !important;
    background: url("../images/icons/ico-pencil.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.message-ico{
    width: 15px !important;
    height: 15px !important;
    background: url("../images/icons/ico-message.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}
.message-ico.st2{
    width: 35px !important;
    height: 35px !important;
    background: url("../images/icons/ico-message2.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.search-ico{
    width: 32px !important;
    height: 32px !important;
    background: url("../images/icons/ico-searchBlue.svg") no-repeat center / cover !important;
    display: block;
    position: static;
    transform: none;
}

.noResult-ico{
    width: 70px !important;
    height: 70px !important;
    background: url("../images/icons/ico-noResult.svg") no-repeat center / cover !important;
    display: block;
    position: static;
    transform: none;
}

.download-ico{
    width: 16px !important;
    height: 16px !important;
    background: url("../images/icons/ico-download.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.download-ico.st2{
    width: 21px !important;
    height: 21px !important;
    background: url("../images/icons/ico-download2.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.diagonal-ico{
    width: 22px !important;
    height: 22px !important;
    background: url("../images/icons/ico-blueDiagonalArrow.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.address-ico{
    width: 26px !important;
    height: 26px !important;
    background: url("../images/icons/ico-address.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.rightBlackArrow-ico{
    width: 6.5px !important;
    height: 12px !important;
    background: url("../images/icons/ico-rightBlackArrow2.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.plus-ico{
    width: 14px !important;
    height: 14px !important;
    background: url("../images/icons/ico-plus.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.pencil-ico{
    width: 14px !important;
    height: 14px !important;
    background: url("../images/icons/ico-pencil2.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.remove-ico{
    width: 14px !important;
    height: 14px !important;
    background: url("../images/icons/ico-remove.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.file-ico{
    width: 26px !important;
    height: 26px !important;
    background: url("../images/icons/ico-file.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: none !important;
}

.select-ico{
    width: 28px !important;
    height: 28px !important;
    background: url("../images/icons/ico-selectArrow3.svg") no-repeat center / cover !important;
    display: block !important;
    position: static !important;
    transform: rotate(180deg) !important;
    transition: 0.3s ease;
}



/* icon */