/* login */

.login-form{
    margin-top: 100px;
}

.login section{
    display: flex;
    height: 100vh;
}
.login-content{
    width: 50vw;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content .logo{
    position: absolute;
    top: 52px;
    left: 70px;
}
.login-content .logo img{
    width: 160px;
}
.login-bg{
    width: 50vw;
    height: 100%;
    background: url("../images/visual/login-visual.png") no-repeat center right / cover;
}
.login-form h2{
    font-size: 30px;
    line-height: 1.53;
    font-weight: 600;
    margin-bottom: 46px;
    position: relative;
}
.login-form h2 a{
    position: absolute;
    left: -20px;
    top: -4px;
}

.login-link-group{
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 34px;
    gap: 36px;
}
.login-link-group a{
    font-size: 14px;
    font-weight: 500;
    color: #0B1F7D;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: 0.3s ease;
}
.login-link-group a i{
    width: 22px;
    height: 22px;
    background: url("../images/icons/ico-linkArrow.svg") no-repeat center / cover;
}
.login-link-group a:hover{
    opacity: 0.6;
}

.full-strok-link{
    width: 400px;
    height: 60px;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #0B1F7D;
    position: relative;
    transition: 0.3s ease;
    border-radius: 10px;
}
.full-strok-link i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
    width: 22px;
    height: 22px;
    background: url("../images/icons/ico-linkArrow.svg") no-repeat center / cover;
}
.full-strok-link:hover{
    opacity: 0.6;
}

/* login */




/* join */

.join .inner{
    width: calc(100% - 40px);
    max-width: 520px;
    padding-top: 340px;
}
.join h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #0B1F7D;
}
.join h3{
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
}
.join h3 span.fc-blue{
    margin-right: 6px;
    color: #0B1F7D;
}
.join h3 p{
    padding-left: 14px;
    font-size: 16px;
    color: #acacac;
    font-weight: 400;
    display: flex;
}
.join h3 p .current{
    color: #0B1F7D;
    font-weight: 700;
}
.join form .col{
    margin-top: 30px;
}
.join form .col > span{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #121212;
    margin-bottom: 10px;
}
.join form .col input{
    width: 100%;
}
.join form .select{
    width: 100%;
}
.join form .select-current + .select-list + p{
    font-size: 13px;
    font-weight: 400;
    color: #FF5647;
    margin-top: 15px;
    margin-top: 0;
    transition: 0.3s ease;
    margin-left: 6px;
    opacity: 0;
    visibility: hidden;
    height: 0;
}
.join form .select-current.fail{
    border: 1px solid #FF5647;
}
.join form .select-current.fail + .select-list{
    top: calc(100% - 50px);
}
.join form .select-current.fail + .select-list + p{
    margin-top: 15px;
    opacity: 1;
    visibility: visible;
    height: auto;
}
.join form .select-current{
    height: 60px;
    font-size: 15px;
    color: #999;
    font-weight: 400;
    transition: 0.3s ease;
}
.join form .col:nth-child(1){z-index: 50;}
.join form .col:nth-child(2){z-index: 40;}
.join form .col:nth-child(3){z-index: 30;}
.join form .col:nth-child(4){z-index: 20;}
.join form .col:nth-child(5){z-index: 10;}

.join form .col:last-child{
    display: flex;
    gap: 16px;
}
.join form .col:last-child a{
    flex: 1;
    font-size: 15px;
    color: #0B1F7D;
    font-weight: 400;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}
.join form .col:last-child button{
    flex: 3;
    height: 60px;
    background-color: #0B1F7D;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: 0.3s ease;
}
.join form .col:last-child button img{
    position: absolute;
    right: 29px;
}
.join form .col:last-child button:hover{
    opacity: 0.8;
}

.join + footer{
    background: none;
    border: none;
    padding-top: 192px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

/* join */