/* style */

main.snuapp{
    overflow-x: hidden;
}

.sec-text > span{
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #0EBCF6;
    margin-bottom: 20px;
    display: block;
}
.snuapp .sec-text > span{
    color: #60DF7C;
}
.sec-text h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    color: #121212;
    margin-bottom: 30px;
}
.sec-text h2 span{
    font-weight: 400;
}
.sec-text p{
    font-size: 18px;
    font-weight: 400;
    color: #999;
    line-height: 1.75;
    margin-bottom: 80px;
}
.sec-text a{
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 10px;
}
.sec-text a::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #0EBCF6;
    display: block;
    z-index: 0;
}
.snuapp .sec-text a::after{
    background-color: #60DF7C;
}
.sec-text a img{
    position: relative;
    z-index: 1;
    transition: 0.35s ease;
}
.sec-text a:hover img{
    transform: translateX(10px);
}

/* .main + footer{
    padding-top: 246px;
} */
/* .main.snuapp + footer{
    padding-top: 140px;
} */

.sticky-text{
    position: fixed;
    top: 50%;
    left: -80px;
    transform: rotate(-90deg) ;
    transform-origin: center;
    z-index: 1000000;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    transition: 0.3s ease;
    opacity: 0;
}
.sticky-text.show{
    opacity: 1;
}

/* style */


/* main banner */

.banner .circle{
    position: absolute;
    left: -300px;
    bottom: 164px;
    bottom: auto;
    top: 300px;
    top: 50%;
    transform: translateY(-50%);
    width:  450px;
    height: 450px;
    border-radius: 100%;
    background-color: #0EBCF6;
}
.snuapp .banner .circle{
    background-color: #60DF7C;
}

.banner{
    height: 100vh;
    height: 808px;
    margin-top: 100px;
    position: relative;
    z-index: 10;
}
.banner .banner-slide{
    position: absolute;
    right: 0;
    bottom: auto;
    top: 0;
    z-index: 0;
    border-radius: 300px 0 0 300px;
    overflow: hidden;
    width: 1070px;
    width: 1000px;
    height: calc(100% - 100px);
    height: 808px;
    height: 100%;
}
.banner .banner-slide li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.75s ease;
    opacity: 0;
}
.banner .banner-slide li.active{
    transition: 0.75s ease;
    opacity: 1;
}
.banner .banner-slide li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .inner{
    width: calc(100% - 40px);
    max-width:1434px;
    height: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-content{
    position: absolute;
    top: calc(50% + 60px);
    transform: translateY(-50%);
    z-index: 1;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    margin-bottom: 60px;
}
.banner-text h2{
    font-size: 52px;
    font-family: "Montserrat";
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-bottom: 38px;
}
.banner-text p{
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 300;
    color: #454545;
}

.banner-slide-controller{
    display: flex;
    gap: 30px;
    align-items: center;
}
.banner-slide-controller .slide-state{
    width: max-content;
}
.banner-slide-controller .slide-state .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.banner-slide-controller .slide-state .top .play-btn{
    width: 6px;
    height: 13px;
}
.banner-slide-controller .slide-state .top .play-btn i{
    width: 100%;
    height: 100%;
    display: block;
    background: url("../images/icons/ico-play.svg") no-repeat center / cover;
}
.banner-slide-controller .slide-state .top .play-btn.stop i{
    background: url("../images/icons/ico-stop.svg") no-repeat center / cover;
}
.banner-slide-controller .slide-state .state-line{
    width: 234px;
    height: 3px;
    position: relative;
    background-color: #BDBDBD;
    margin-top: 12px;
}
.banner-slide-controller .slide-state .state-line span{
    width: 0;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
}
.banner-slide .controller p{
    font-size: 13px;
    font-weight: 400;
}
.banner-slide-controller .banner-btn{
    display: flex;
    gap: 10px;
}
.banner-slide-controller .banner-btn button{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 0.3s ease;
}
.banner-slide-controller .banner-btn button:hover{
    opacity: 0.4;
}
.banner-slide-controller .banner-btn button.prev-btn i{
    width: 42px;
    height: 42px;
    display: block;
    background: url("../images/icons/ico-prevBlack.svg") no-repeat center / cover;
}
.banner-slide-controller .banner-btn button.next-btn i{
    width: 42px;
    height: 42px;
    display: block;
    background: url("../images/icons/ico-nextBlack.svg") no-repeat center / cover;
}

/* main banner */


/* main about */

.snuapp .about .inner{
    padding-bottom: 440px;
}
.about{
    height: max-content;
    position: relative;
    z-index: 5;
}
.about .bg{
    position: absolute;
    width: 100vw;
    height: calc(100% + 70px);
    z-index: 0;
    top: -70px;
}
.about .bg img:first-child{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
}
.about .bg img.mo{
    display: none;
}
.about .bg img:last-child{
    position: absolute;
    left: 0;
    bottom: 0;
}

.about .inner{
    width: calc(100% - 40px);
    max-width:1434px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
}
.about .sec-text{
    padding-top: 240px;
    padding-top: 295px;
}

.about-card {
    margin-top: 190px;
    position: relative;
    z-index: 1000;
}
.about-card ul{
    display: grid;
    grid-template-columns: repeat(2, 325px);
    grid-column-gap: 34px;
}
.about-card.about-card-style2{
    position: absolute;
    right: -144px;
    margin: 0;
    /* overflow: hidden; */
}
.about-card.about-card-style2 ul{
    grid-template-columns: repeat(3, 325px);
}
.about-card.about-card-style2 li{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 352px);
    gap: 30px;
    margin-top: 0 ;
}
.about-card.about-card-style2 li .about-card-item.design-card{
    background-color: #F6F6F6;
}
.about-card.about-card-style2 li .about-card-item{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.about-card li{
    height: 352px;
    position: relative;
}
.about-card.about-card-style2 li:first-child,
.about-card.about-card-style2 li:last-child{
    margin-top: -136px;
}
.about-card.about-card-style2 li:nth-child(2){
    margin-top: 20px;
}
.about-card li:first-child{
    margin-top: 80px;
}
.about-card li:nth-child(3){
    margin-top: 30px;
}
.about-card li:nth-child(4){
    margin-top: -50px;
}
.about-card li img{
    margin-bottom: 35px;
}
.about-card li h3{
    font-size: 21px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 15px;
}
.about-card li .back h3{
    color: #fff;
}
.about-card li p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
}
.about-card li .back i{
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    bottom: 40px;
    background: url("../images/icons/ico-cardClose.svg") no-repeat center / cover;
}

.about-card li .front{
    width: 100%;
    height: 352px;
    padding: 50px 40px;
    position: relative;
    position: absolute;
    -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    transition: 0.75s;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.04);
}
.about-card li .front i{
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    bottom: 40px;
    background: url("../images/icons/ico-cardPlus.svg") no-repeat center / cover;
}
.about-card.about-card-style1 li:hover .front{

    -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}
.about-card.about-card-style2 .about-card-item:hover .front{

    -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}
.snuapp .about-card li .back{
    background-color: #60DF7C;
    position: static;
}
.about-card li .back {
    position: absolute;
    width: 100%;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 0.75s;
    background-color: #0EBCF6;
    border-radius: 30px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.04);
    height: 100%;
    padding: 50px 40px;
    overflow: hidden;
}
.about-card.about-card-style2 .about-card-item:hover .back {
    transform: rotateY(0);
}
.about-card.about-card-style1 li:hover .back {
    transform: rotateY(0);
}




.about-card [class*="about-card-anim"]{
    margin-bottom: 35px;
    position: relative;
}
.about-card .about-card-anim1{
    height: 55px;
    width: 95px;
}
.about-card .about-card-anim1 span{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    opacity: 0.65;
    position: absolute;
}
.about-card .about-card-anim1 span:nth-child(1){
    background-color: #0EBCF6;
    left: -1px;
    animation: aboutCardAnim1_1 3.6s infinite;  
}
.about-card .about-card-anim1 span:nth-child(2){
    background-color: #6DF5D0;
    left: 40px;
    animation: aboutCardAnim1_2 3.6s infinite;  
}
.about-card .back .about-card-anim1 span:nth-child(1){
    background-color: #fff;
}
.about-card .back .about-card-anim1 span:nth-child(2){
    background-color: #6DF5D0;
}
@keyframes aboutCardAnim1_1 {
    0% {transform: translate(0,0)}
    50% {transform: translate(40px,0);}
    100% {transform: translate(0,0)}
}
@keyframes aboutCardAnim1_2 {
    0% {transform: translate(0,0)}
    50% {transform: translate(-40px,0);}
    100% {transform: translate(0,0)}
}


.about-card .about-card-anim2{
    width: 55px;
    height: 55px;
}
.about-card .about-card-anim2 span{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    opacity: 0.65;
}
.about-card .about-card-anim2 span:nth-child(1){
    background-color: #C0EFFF;
}
.about-card .about-card-anim2 span:nth-child(2){
    background-color: #0EBCF6;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0.3);        
    animation: aboutCardAnim2 3.6s infinite;  
}
.about-card .back .about-card-anim2 span:nth-child(2){
    background-color: #fff;
}

@keyframes aboutCardAnim2{
    0% {transform: translate(-50%,-50%) scale(0.3) }
    50% {transform: translate(-50%,-50%) scale(1);}
    100% {transform: translate(-50%,-50%) scale(0.3)}
}




.about-card .about-card-anim3{
    width: 92px;
    height: 70px;
}
.about-card .about-card-anim3 span{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    position: absolute;
    opacity: 0.65;
}
.about-card .about-card-anim3 span:nth-child(1){
    left: 0;
    bottom: 0;
    background-color: #0EBCF6;
    animation: aboutCardAnim3_1 3.6s infinite;  
    z-index: 10;
}
.about-card .about-card-anim3 span:nth-child(2){
    left: 50%;
    top: 50%;
    background-color: #C0EFFF;
    transform: translate(-50%,-50%);
    z-index: 5;
}
.about-card .about-card-anim3 span:nth-child(3){
    right: 0;
    top: 0;
    background-color: #6DF5D0;
    animation: aboutCardAnim3_2 3.6s infinite;  
    z-index: 2;
}
.about-card .back .about-card-anim3 span:nth-child(1){
    background-color: #fff;
}
@keyframes aboutCardAnim3_1{
    0% {
        left: 0;
        bottom: 0;
        transform: translate(0,0); 
    }
    50% {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%,50%);
    }
    100% {
        left: 0%;
        bottom: 0%;
        transform: translate(0%,0%); 
    }    
}
@keyframes aboutCardAnim3_2{
    0% {
        top: 0;
        right: 0;
        transform: translate(0,0); 
    }
    50% {
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
    }
    100% {
        top: 0%;
        right: 0%;
        transform: translate(0%,0%); 
    }    
}




.about-card .about-card-anim4{
    width: 71px;
    height: 60px;
}
.about-card .about-card-anim4 span{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    opacity: 0.65;
}
.about-card .about-card-anim4 span:nth-child(1){
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    background-color: #0EBCF6;
    animation: aboutCardAnim4_1 3.6s infinite;    
}
.about-card .about-card-anim4 span:nth-child(2){
    left: 0;
    bottom: 0;
    transform: translate(0,0);
    background-color: #C0EFFF;
    animation: aboutCardAnim4_2 3.6s infinite;    
}
.about-card .about-card-anim4 span:nth-child(3){
    right: 0;
    bottom: 0;
    transform: translate(0,0);
    background-color: #6DF5D0;
    animation: aboutCardAnim4_3 3.6s infinite;    
}
.about-card .back .about-card-anim4 span:nth-child(1){
    background-color: #fff;
}



@keyframes aboutCardAnim4_1{
    0%{
        transform: translate(-50%, 0);
    }
    50%{
        transform: translate(-50%, -50%);
    }
    100%{
        transform: translate(-50%, 0);
    }
}
@keyframes aboutCardAnim4_2{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(-50%,50%);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes aboutCardAnim4_3{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(50%,50%);
    }
    100%{
        transform: translate(0,0);
    }
}


/* main about */


/* main program */

.program{
    background: linear-gradient(161.63deg, #62DAAF 0%, #0EBCF6 98.55%);
    height: 524px;
}
.snuapp .program{
    background: linear-gradient(161.63deg, #67E082 32.42%, #CBFF8A 98.55%);
    position: relative;
    z-index: 10;
}
.program .inner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.program .sec-text{
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 46px 0;
}
.program .sec-text span,
.program .sec-text p, 
.program .sec-text h2{
    color: #fff;
}
.program .sec-text p{
    margin-bottom: 0;
}
.program-tag{
    width: 50%;
    padding-left: 60px;
}
.program-tag p{
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 300;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.program-tag ul{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 10px;
}
.snuapp .program-tag ul{
    width: 310px;
}
.program-tag ul li{
    font-size: 14px;
    color: #0EBCF6;
    background-color: #fff;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.3s ease;
}
.snuapp .program-tag ul li{
    color: #60DF7C;
}
.program-tag ul li:hover{
    opacity: 0.6;
}
.program-tag ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 17px;
}

/* main program */


/* main slide */

.program-swiper {
    width: calc(100% - 40px) !important;
    max-width: 1434px !important;
    margin: 0 auto;
    overflow: visible !important;
}
.swiper-horizontal>.swiper-scrollbar{
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
    margin-top: 58px;
    height: 2px !important;
    background-color: #E4E4E4 !important;
    width: 100% !important;
}
.swiper-scrollbar-drag{
    background-color: #000 !important;
}

.program-slide{
    background-color: #F9F9F9;
    position: relative;
    padding: 120px 0;
    z-index: 15;
}
.program-slide .tab-content{
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
    background-color: #fff;
}
.program-slide .tab-content button{
    font-size: 15px;
    color: #121212;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 52px;
    border-radius: 100px;
}
.program-slide .tab-content button.active{
    background-color: #0EBCF6;
    color: #fff;
}
.snuapp .program-slide .tab-content button.active{
    background-color: #60DF7C;
    color: #fff;
}
.program-slide .slide-group{
    width: 100%;
    overflow: hidden;
}
.program-slide .slide-group li{
    opacity: 0;
    visibility: hidden;
    height: 0;
}
.program-slide .slide-group li.active{
    opacity: 1;
    visibility: visible;
    height: auto;
}

/* main slide */


/* main category */
/* 
.category{
    padding: 130px 0;
}
.category .inner{
    width: calc(100% - 40px);
    max-width:1434px;
}
.category .category-list{
    display: flex;
    gap: 38px;
}
.category-list > li{
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category-list > li ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 276px;
}
.category-list > li ul a{
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.category-list > li h3{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    width: 276px;
    margin-bottom: 43px;
}
.category-list > li:last-child{
    min-width: 340px;
    border: none;
    flex-direction: column;
}
.category-list > li:last-child a{
    height: 196px;
    width: 100%;
    border-radius: 10px;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.category-list > li:last-child a p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 17px;
}
.category-list > li:last-child a h4{
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}
.category-list > li:last-child a:first-child{
    background-color: #FA9937;
    margin-top: 0;
}
.category-list > li:last-child a:last-child{
    background-color: #5662CC;
} */

/* main category */




/* main small-banner */

.small-banner{
    height: 490px;
    width: 100%;
    background: url("../images/visual/banner-visual.png") no-repeat top / cover;
    background-attachment: fixed;
    position: relative;
}
.snuapp .small-banner{
    background: url("../images/visual/banner-visual2.png") no-repeat top / cover;
    background-attachment: fixed;
    position: relative;
}
.small-banner .bg{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.small-banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.small-banner h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}
.small-banner a{
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
    transition: 0.35s ease;
    border-radius: 40px;
    padding-right: 0;
    position: relative;
}
.small-banner a:hover{
    padding-right: 50px;
    color: #fff;
    background-color: #0EBCF6;
    border: 1px solid #0EBCF6;
}
.snuapp .small-banner a:hover{
    background-color: #60DF7C;
    border: 1px solid #60DF7C;
}
.small-banner a img{
    position: absolute;
    right: 22px;
    transition: 0.35s ease;
    opacity: 0;
}
.small-banner a:hover img{
    opacity: 1;
}

/* main small-banner */



/* main community */

.community{
    padding-top: 140px;
    background-color: #F6F6F6;
    position: relative;
    overflow: hidden;
    padding-bottom: 230px;
}
.community::before{
    content: "";
    position: absolute;
    width: 700px;
    height: calc(100% - 180px);
    top: 0;
    left: 0;
    background-color: #F6F6F6;
    z-index: 1000;
}
.community .inner{
    width: calc(100% - 40px);
    max-width:1434px;
    display: flex;
    align-items: center;
}
.community .sec-text{
    min-width: 486px;
    background-color: #f6f6f6;
    position: relative;
    z-index: 1000;
}
.community .inner:last-child{
    /* margin-top: 80px; */
    /* padding-bottom: 180px; */
}
.community .community-slide{
    padding-top: 40px;
    overflow: visible !important;
    transform: translateY(26px);
    width: 948px !important;
}
.community-banner-sec{
    position: relative;
}
.community-banner-sec .community-banner{
    position: absolute;
    height: 230px;
    width: calc(100% - 40px);
    max-width:1434px;
    border-radius: 300px;
    background: url("../images/visual/community-bg.svg") no-repeat center / cover;
    left: 50%;
    bottom: -115px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}
.community-banner-sec .community-banner .banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
}
.community-banner-sec .community-banner .banner-text h3{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}
.community-banner-sec .community-banner .banner-text h3 span{
    font-weight: 600;
}
.community-banner-sec .community-banner .banner-text p{
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}
.community-banner-sec .community-banner .banner-link{
    display: flex;
    gap: 18px;
}
.community-banner-sec .community-banner .banner-link a{
    font-size: 16px;
    font-weight: 600;
    color: #555;
    border-radius: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    transition: 0.3s ease;
}
.community-banner-sec .community-banner .banner-link a:hover{
    background-color: #555;
    color: #fff;
}


/* main community */





@media all and (max-width:768px){
    .banner .circle{
        display: none;
    }
    .banner{
        margin-top: 70px;
        padding-top:0;
        height: calc(100vh - 70px);
    }
    .banner .banner-slide{
        height: calc(100vh - 70px);
        top: 0;
        bottom: auto;
        border-radius: 0;
        width: 100vw;
    }
    .banner .inner{
        height: calc(100vh - 70px);
    }
    .banner-content{
        transform: none;
        top: 90px;
        height: calc(100% - 140px);
    }
    .banner-text h2{
        font-size: 25px;
        margin-bottom: 11px;
        line-height: 1.5;
    }
    .banner-text p{
        font-size: 14px;
    }
    .banner .banner-slide::after{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 198px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
        content: "";
        z-index: 10;
    }
    .banner-slide-controller{
        position: absolute;
        bottom: 0;
        gap: 8px;
    }
    .banner-slide-controller .slide-state .top{
        font-size: 12px;
        color: #fff;
    }
    .banner-slide-controller .slide-state .top .play-btn i{
        background: url("../images/icons/ico-playWhite.svg") no-repeat center / cover;
    }
    .banner-slide-controller .slide-state .top .play-btn.stop i{
        background: url("../images/icons/ico-stopWhite.svg") no-repeat center / cover;
    }
    .banner-slide-controller .slide-state .state-line{
        background-color: rgba(255, 255, 255, 0.3);
        width: 150px;
    }
    .banner-slide-controller .slide-state .state-line span{
        background-color: #fff;
    }

    .banner-slide-controller .banner-btn{
        gap: 6px;
    }
    .banner-slide-controller .banner-btn button{
        width: 32px;
        height: 32px;
    }
    .banner-slide-controller .banner-btn button:hover{
        opacity: 1;
    }
    .banner-slide-controller .banner-btn button.prev-btn i{
        width: 32px;
        height: 32px;
        display: block;
        background: url("../images/icons/ico-prevWhite.svg") no-repeat center / cover;
    }
    .banner-slide-controller .banner-btn button.next-btn i{
        width: 32px;
        height: 32px;
        display: block;
        background: url("../images/icons/ico-nextWhite.svg") no-repeat center / cover;
    }

    .about .bg img:last-child{
        display: none;
    }
    .about .bg img.pc{
        display: none;
    }
    .about .bg img.mo{
        display: block;
        position: absolute;
        right: 0;
        height: 100%;
        width: auto;
    }
    .about .inner{
        flex-direction: column;
        position: relative;
        z-index: 10;
        padding-bottom: 70px;
    }
    .about .sec-text{
        padding-top: 70px;
    }

    .sec-text > span{
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .sec-text h2{
        font-size: 24px;
        margin-bottom: 25px;
    }
    .sec-text p{
        font-size: 13px;
        margin-bottom: 47px;
    }
    .sec-text a{
        font-size: 14px;
    }
    .sec-text a img{
        width: 22px;
    }
    .sec-text a::after{
        width: 29px;
        height: 29px;
        right: -16px;
    }


    .about .inner{
        width: 100vw;
    }
    .about .sec-text{
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .about-card{
        margin-top: 42px;
        width: 100%;
        padding: 0 20px;
        overflow-x: scroll;
        -ms-touch-action: pan-x;
            touch-action: pan-x;
        pointer-events: auto;
    }
    .about-card ul{
        display: flex;
        width: max-content;
        padding-right: 20px;
    }
    .about-card li{
        width: 300px;
        height: 300px;
        border-radius: 30px;
    }
    .about-card li .front{
        width: 300px;
        height: 300px;
        padding: 36px;
        border: 1px solid #E9E9E9;
        box-shadow: none;
    }
    .about-card li:first-child{
        margin-top: 0;
    }
    .about-card li:nth-child(3){
        margin-top: 0;
    }
    .about-card li:nth-child(4){
        margin-top: 0;
    }
    .about-card li img{
        margin-bottom: 20px;
    }
    .about-card li h3{
        font-size: 17px;
        margin-bottom: 72px;
    }
    .about-card li p{
        font-size: 12px;
    }
    .about-card li .front i{
        display: none;
    }
    .about-card li .back i{
        display: none;
    }

    .sticky-text{
        display: none;
    }

    .program{
        height: max-content;
    }
    .program .inner{
        flex-direction: column;
    }
    .program .sec-text{
        width: 100%;
        border: none;
    }
    .program .sec-text{
        padding: 70px 0 35px 0;
    }
    .program-tag{
        width: 100%;
        padding-left: 0;
    }
    .program-tag p{
        font-size: 16px;
        margin-bottom: 26px;
    }
    .program-tag ul{
        margin-bottom: 70px;
        width: 100%;
    }
    .program-tag ul li{
        font-size: 12px;
    }

    .program-slide .tab-content{
        /* width: calc(100vw - 40px); */
        padding: 4px;
        top: -21px;
    }
    .program-slide .tab-content button{
        font-size: 13px;
        width: 81px;
        height: 42px;
    }
    .program-slide{
        padding-top: 55px;
        padding-bottom: 70px;
    }

    .small-banner{
        height: 180px;
        background-size: cover;
        background-attachment: scroll;
    }
    .small-banner h2{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .small-banner a{
        font-size: 13px;
        width: 112px;
        height: 44px;
    }
    .small-banner a:hover{
        padding-right: 0;
        background-color: transparent;
        border: 1px solid #fff;
    }
    .small-banner a img{
        display: none;
    }

    section.category{
        display: none;
    }
    .community{
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .community .sec-text{
        min-width: 100%;
    }
    .community .inner{
        flex-direction: column;
    }
    .community .community-slide{
        width: 100% !important;
    }
    .community::before{
        display: none;
    }

    .community-banner-sec{
        display: none;
    }
    .main + footer{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    

    .about-card.about-card-style2 li .about-card-item.design-card{
        display: none;
    }
    .about-card.about-card-style2 li:first-child, 
    .about-card.about-card-style2 li:last-child{
        margin-top: 0;
    }
    .about-card.about-card-style2 li{
        display: flex;
    }
    .about-card.about-card-style2{
        position: static;
        margin-top: 42px;
    }
    .about-card.about-card-style2 li .about-card-item{
        width: 300px;
    }
    .about-card.about-card-style2 li:nth-child(2){
        margin-top: 0;
    }
    .about-card li .back{
        height: 300px;
    }
    .snuapp .about .inner{
        padding-bottom: 70px;
    }
    .snuapp .program-tag ul{
        width: 100%;
    }
    .snuapp .small-banner{
        background-attachment: scroll;
    }

    .banner .banner-slide li img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .program .sec-text p{
        font-weight: 200;
    }
    .swiper-horizontal>.swiper-scrollbar{
        margin-top: 30px;
    }

    .snuapp .banner-content{
        top: auto;
        height: max-content;
        bottom: 50px;
    }
    .snuapp .banner-text h2{
        color: #fff;
    }
    .snuapp .banner-text p{
        color: #fff;
    }
    .main.snuapp + footer{
        padding-top: 60px;
    }
    
}