/* mypage */

.myPage-header .sub-menu{
    display: flex;
    gap: 48px;
}
.myPage-header .sub-menu a{
    padding: 0 18px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}
.myPage-header .menu-open-btn{
    width: 40px;
    display: flex;
    align-items: center;
}
.myPage-header .menu-open-btn img{
    width: 100%;
}
.logout-btn{
    display: flex;
    gap: 13px;
    align-items: center;
    font-size: 12px;
    color: #0B1F7D;
    font-weight: 500;
    position: absolute;
    right: 0;
}
.logout-btn span{
    width: 39px;
    height: 39px;
    border-radius: 100%;
    border: 1px solid #0B1F7D;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.mypage-profile .profile{
    text-align: center;
    margin: 0 auto;
}
.mypage-profile .img-wrap{
    width: 114px;
    height: 114px;
    border-radius: 100%;
    border: 4px solid #fff;
    overflow: hidden;
    margin: 0 auto;
}
.mypage-profile .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mypage-profile{
    padding-top: 216px;
    background-color: #F9F9F9;
}
.mypage-profile .profile-name{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
}
.mypage-profile .profile-name h2{
    font-size: 34px;
    font-weight: 400;
}
.mypage-profile .profile-name span{
    font-weight: 600;
}
.mypage-profile .profile-name p{
    position: absolute;
    right: -63px;
    bottom: 0;
    font-size: 11px;
    font-weight: 400;
}
.mypage-profile .tab-btn{
    display: flex;
    gap: 75px;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
}
.mypage-profile .tab-btn button.active{
    color: #0B1F7D;
    font-weight: 600;
    border-bottom: 2px solid #0B1F7D;
}
.mypage-profile .tab-btn button{
    padding-bottom: 29px;
}
.mypage-profile .tab-btn button span{
    font-family: "Montserrat";
    font-weight: 500;
}

.mypage-profile .inner{
    position: relative;
}
.mypage-content{
    padding-top: 50px;
}
.mypage-content .mypage-card-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 46px;
    grid-row-gap: 34px;
}
.mypage-content .card{
    box-shadow: none;
    border: 1px solid #E9E9E9;
    position: relative;
    height: 226px !important;
    text-align: left;
    width: 100% !important;
    transition: 0.3s ease;
}
.mypage-content .card .kind{
    color: #0B1F7D;
}
.mypage-content .card .title{
    max-width: 400px;
}
.mypage-content .card span.plus{
    position: absolute;
    right: 42px;
    top: 42px;
    width: 36px;
    height: 36px;
    transition: 0.2s ease;
}
.mypage-content .card span.plus img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.2s ease;
}
.mypage-content .card span.plus img.white{
    opacity: 0;
}
.mypage-content .card .card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mypage-content .card .card-bottom .date{
    color: #0B1F7D;
}
.mypage-content .card .card-bottom .link-group{
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: 0.3s ease;
}
.mypage-content .card .card-bottom .link-group a{
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    height: 45px;
}
.mypage-content .card.waiting .card-bottom .link-group a:first-child{
    color: #0B1F7D;
    background-color: #fff;
}
.mypage-content .card.waiting .card-bottom .link-group a:last-child{
    color: #fff;
    border: 1px solid #fff;
    background-color: #0B1F7D;
}
.mypage-content .card.success .card-bottom .link-group a:first-child{
    color: #fff;
    background-color: #0B1F7D;
}
.mypage-content .card.success .card-bottom .link-group a:last-child{
    color: #0B1F7D;
    border: 1px solid #0B1F7D;
    background-color: #fff;
}
.mypage-content .card.success:hover{
    background-color: #F9F9F9;
    border: 1px solid #f9f9f9;
}
.mypage-content .card.waiting:hover{
    background-color: #0B1F7D;
}
.mypage-content .card:hover span.plus{
    transform: rotate(45deg);
}
.mypage-content .card.waiting:hover span.plus img.white{
    opacity: 1;
}
.mypage-content .card.waiting:hover span.plus img.black{
    opacity: 0;
}
.mypage-content .card.waiting:hover .date{
    color: #fff;
}
.mypage-content .card.success:hover .title{
    color: #000;
}
.mypage-content .card.waiting:hover .kind{
    color: #fff;
}
.mypage-content .card:hover .link-group{
    opacity: 1;
}
.mypage-content .pagination a.active{
    background-color: #0B1F7D;
}


.mypage + footer{
    background: none;
    border: none;
    padding-top: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #666;
}
/* mypage */