/* notice */

.list{
    margin-top: 120px;
}
.list ul{
    border-top: 1px solid #121212;
}
.list li{
}
.list li a{
    height: 158px;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    border-bottom: 1px solid #E9E9E9;
    position: relative;
}
.list li a:hover{
    background-color: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
}
.list li .date{
    border-right: 1px solid #E9E9E9;
    height: 56px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list .date span{
    font-size: 38px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #0EBCF6;
    color: #000;
    margin-bottom: 4px;
    transition: 0.3s ease;
}
.list .date p{
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #0ebcf6;
    color: #000;
    transition: 0.3s ease;
}
.list a:hover .date span{
    color: #0EBCF6;
}
.list a:hover .date p{
    color: #0EBCF6;
}
.list .desc{
    padding-left: 53px;
}
.list .desc h3{
    font-size: 20px;
    font-family: "Noto Sans Kr";
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.5;
}
.list .desc p{
    font-size: 15px;
    font-family: "Noto Sans Kr";
    font-weight: 300;
    color: #929292;
    line-height: 1.5;   
}
.list a i{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/icons/ico-rightBlackArrow.svg) no-repeat center / cover;
    transition: 0.3s ease;
}
.list a:hover i{
    background: url(../images/icons/ico-rightBlueArrow2.svg) no-repeat center / cover;
}


.desc{
    margin-top: 70px;
    margin-bottom: 70px;
}
.desc .inner{
    padding-bottom: 85px;
    margin-bottom: 66px;
    border-bottom: 1px solid #E9E9E9;
}
.desc p{
    font-size: 16px;
    font-family: "Noto Sans Kr";
    font-weight: 300;
    line-height: 1.5;
}

/* notice */