/* program success */

.program-request-success-wrap{
    padding: 100px 0 200px;
    text-align: center;
}
.program-request-success-wrap h2{
    margin: 30px 0;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}
.program-request-success-wrap h2 span{
    font-weight: 600;
}
.program-request-success-wrap p{
    font-size: 15px;
    color: #999;
    margin-bottom: 40px;
}
.program-request-success-wrap .success-text{
    width: 400px;
    height: 75px;
    border-radius: 10px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto 40px;
}
.program-request-success-wrap .link-group{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
}
.program-request-success-wrap .link-group a{
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s ease;
}
.program-request-success-wrap .link-group a:hover{
    opacity: 0.6;
}
.program-request-success-wrap .link-group a:first-child{
    width: 117px;
    border: 2px solid #0EBCF6;
    color: #0EBCF6;
}
.program-request-success-wrap .link-group a:last-child{
    flex: 3;
    background-color: #0EBCF6;
    color: #fff;
}

/* program success */


/* program request */

.program-request-wrap{
    padding: 100px 0 240px;
}
.program-request-wrap .inner{
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 0 auto;
}
.program-request-wrap h2{
    font-size: 23px;
    color: #333;
    font-weight: 600;
    margin-bottom: 26px;
}
.program-request-wrap .program-img{
    border-radius: 10px;
    margin-bottom: 30px;
}
.program-request-wrap .program-desc{
    background-color: #f6f6f6;
    padding: 30px 50px;
    margin-bottom: 36px;
}
.program-request-wrap .program-desc li{
    display: flex;
    margin-bottom: 20px;
}
.program-request-wrap .program-desc li:last-child{
    margin-bottom: 0;
}
.program-request-wrap .program-desc li span{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #9d9d9d;
    min-width: 52px;
    margin-right: 46px;
}
.program-request-wrap .program-desc p{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 1.5;
    margin-top: -4px;
}
.program-request-form .col{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-top: 0;
}
.program-request-form .col .form-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.program-request-form .col > span{
    font-size: 14px;
    font-weight: 600;
    color: #929292;
    min-width: 100px;
    display: inline-block;
}
.program-request-form .col > span em{
    position: relative;
}
.program-request-form .col > span em::after{
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    right: -6px;
    top: -3px;
    background-color: #0EBCF6;
}
.program-request-form input{
    height: 50px !important;
    border-radius: 10px;
    border: 1px solid #e9e9e9 !important;
    outline: none;
    transition: 0.3s ease;
    padding: 0 20px;
    width: 100%;
}
.program-request-form input[type="text"].name-input{
    width: 500px;
}
.program-request-form input:focus{
    border: 1px solid #0B1F7D !important;
}
.program-request-form .school-input{
    width: 315px;
}
.program-request-form .program-request-btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    background-color: #0EBCF6;
    border-radius: 10px;
    margin-top: 55px;
    transition: 0.35s ease;
}
.program-request-form .program-request-btn:hover{
    opacity: 0.6;
}

/* program request */



/* program list */

.program-list h2{
    font-size: 38px;
    color: #121212;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
}
.program-list .program-list-img{
    width: calc(100vw - 40px);
    max-width: calc(100vw - 144px);
    margin: 0 auto 92px;
    display: block;
}
.program-list-filter{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 20px;
}
.program-list-filter .filter-list{
    display: flex;
    gap: 50px;
}
.program-list-filter li.active a{
    color: #0EBCF6;
}
.program-list-filter a{
    font-size: 18px;
    color: #C4C4C4;
    font-weight: 600;
    transition: 0.3s ease;
}
.program-list-filter a:hover{
    opacity: 0.6;
}
.program-list-filter .filter-content{
    display: flex;
    align-items: center;
    gap: 30px;
}
.program-list-filter .filter-content .toggle{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}
.program-list-filter .filter-content .toggle .toggle-content{
    position: relative;
    width: 44px;
    height: 24px;
    background-color: #DDDDDD;
    border-radius: 30px;
    transition: 0.3s ease;
}
.program-list-filter .filter-content .toggle .toggle-content .toggle-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    background-color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
}
.program-list-filter .select{
    width: 130px;
}
.program-list-filter .select-current{
    border: none;
    padding: 0;
    height: 0;
}
.program-list-filter .filter-content .toggle.active .toggle-content{
    background-color: #0EBCF6;
}
.program-list-filter .filter-content .toggle.active .toggle-btn{
    left: 22px;
}
.program-list-filter .filter-content .toggle.active{
    color: #0EBCF6;
}

.program-list-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.program-list-content li{
    width: 100%;
}
.program-list-content .card{
    box-shadow: none;
    border:  1px solid #E9E9E9;
}
.program-list-content .card:hover{
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.03);
}

/* program list */